//覆盖一些element-ui样式
// 最小btn宽度
.tool-bar,
.task-btn,
.fix-btn {
  .el-button {
    min-width: 110px;
  }
}
// 金额tooltip覆盖样式
.tooltip-custom.is-light[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: #ccc;
}
.el-table .el-tooltip div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 23px;
  padding-left: 10px;
  padding-right: 10px;
}

// 文档table样式
.el-table__fixed-body-wrapper,
.el-table__body-wrapper,
.el-table__header {
  margin: 0;
  .el-table__body {
    margin: 0;
  }
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;
    .el-tag {
      margin-right: 0px;
    }
  }
}
// 总页码数样式
.el-pagination {
  width: 100%;
  max-width: 100%;
  .el-pagination__total {
    line-height: 32px !important;
  }
}
//暂时性解决dialog 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//文章页textarea修改样式
.article-textarea {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

//dropdown
.el-dropdown-menu {
  a {
    display: block;
  }
}
// 进度条
#nprogress {
  .bar {
    background: #f56c6c !important;
  }
  .peg {
    box-shadow: 0 0 10px #f56c6c !important;
  }
  .spinner-icon {
    border-top-color: #f56c6c !important;
    border-left-color: #f56c6c !important;
  }
}
